@import url('https://fonts.googleapis.com/css?family=Roboto|Saira+Condensed');

body {
    margin: 0px;
    color: white;
    font: 1em/1.4 "lato";
}

.ninety {
    background: #212121;
    width: 100%;
    height: 90%;
}

.wrapper {
    background: linear-gradient(180deg, #6D70AE 0%, rgba(255, 255, 255, 0) 100%), #80BFCD;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 90vh;
    transition: background 2s ease;
}

.header {
    width: 100vw;
    height: 90vw;
    text-align: center;
}

#animationa {
    background: red;
    width: 100px;
    height: 200px;
    margin: 0 auto;
}

#animation-container {
    height: 400px;
    width: 400px;
    display: inline-block;
    margin: 0 auto;
}

/*--------------------------------------------------------------------------*/
/*NAV MENU CUSTOM*/
/*--------------------------------------------------------------------------*/

input {
    position: fixed;
    opacity: 0;
}
label {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
label::before {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 67, 100, .6);
    content: '';
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 3;
    width: 2em;
    height: 2em;
    margin: 20px;
    padding: 0;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger::before, label .burger .bar, label .burger::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 12%;
    background: white;
    content: '';
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
label .burger .bar {
    top: 44%;
}
label .burger::before {
    top: 0;
    transform-origin: top left;
}
label .burger::after {
    bottom: 0;
    transform-origin: bottom left;
}
input:focus + label .burger, label:hover .burger {
    opacity: 0.75;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
nav::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 25em;
    background: #d62956;
    content: '';
    transform: skewX(30deg) translateX(-100%);
    transform-origin: bottom left;
    will-change: transform;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
    nav::before {
        width: 40em;
    }
}
nav a {
    margin: 0.5em 0;
    padding: 0.2em 2em;
    font-size: 3em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translateX(-100%);
    transition: color 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
nav a:nth-child(1) {
    transition-delay: 0s, 100ms;
}
nav a:nth-child(2) {
    transition-delay: 0s, 150ms;
}
nav a:nth-child(3) {
    transition-delay: 0s, 200ms;
}
nav a:nth-child(4) {
    transition-delay: 0s, 250ms;
}
nav a:nth-child(5) {
    transition-delay: 0s, 300ms;
}
nav a:nth-child(6) {
    transition-delay: 0s, 350ms;
}
nav a:hover, nav a:focus {
    color: white;
    text-decoration: none;
}

main {
    overflow: hidden;
}
main .content {
    transform: translate3d(0, 0, 0);
    /* material acceleration */
    will-change: transform, filter;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
[id="navcheck"]:checked + label::before {
    opacity: 1;
    pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before, [id="navcheck"]:checked + label .burger::after {
    width: 141.42%;
}
[id="navcheck"]:checked + label .burger::before {
    transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
    transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
    transform: scale(0.1);
}
[id="navcheck"]:checked ~ nav {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ nav::before {
    transform: skewX(15deg) translateX(0);
}
[id="navcheck"]:checked ~ nav a {
    transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
    transform: translateX(3em);
    transform-origin: left center;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    /* quite laggy :S */
}
/* helper */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



/*--------------------------------------------------------------------------*/
/*GROW SHADOW CUSTOM*/
/*--------------------------------------------------------------------------*/

nav a:hover, nav a:focus, nav a:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.logo-container {
    display: none;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}

#main-logo {
    animation: 1s ease 0s 1 goUpABit;
    height: 100px;
    width: 100px;
}

.actual-header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
}

.main-content {
    padding: 80px;
    height: 80%;
    width: 100%;
    display: none;
    position: relative;
}

#mainSlider {
    height: 100%;
    position: relative;
}

.about-page {
    position: relative;
    height: 100%;
    width: 100%;
    background: red;
}

#page1-about {
    height: 100%;
    position: relative;
/*    padding: 80px;*/
    display: flex;
}

#profile-image-container {
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    padding: 100px;
}

#page1-about div {
    flex-basis: 100%;
}

#profile-photo {
    height: 260px;
    width: 260px;
    border-radius: 100%;

}



figcaption {
    margin-top: 10px;
    font-size: 16px;
    width: 260px;
}

@keyframes goUpABit {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

.profile-photo-wrapper {
    animation: 1s ease 0s 1 goUpABit;
    margin-top: 100px;
    margin-left: 400px;
    transition: transform 0.5s;
}

.profile-photo-wrapper:hover {
    transform: scale(1.1);
}



#about-text-container {
    animation: 1s ease 0s 1 goUpABit;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 50px;
}

#about-text-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 28px;
    text-align: justify;
    width: 50%;
}

#about-me-heading {
    font-family: 'Saira Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;
    text-align: justify;
}



#page2-exp {
    background: white;
}
